html {
    font-family: sans-serif;
    font-size: 18px;
}

h1 {
    color: navy;
}

body {
    max-width: 30em;
    margin: 0 auto;
}

* {
    margin-bottom: .5em;
}

button {
}

.flex {
    display: flex;
    justify-content: space-between;
}

#positions {
    background-color: lightgrey;
    padding: .5em;
}

.position {
    background-color: white;
    border-radius: .5em;
    padding: .5em;
}


