.App {
    padding: 1em;
    background-color: #002b36;
    min-height: calc(100vh - 2em);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav > * {
    color: white;
}

nav > *.active > button {
    background-color: seagreen;
}

main {
    margin: 1em 0;
}
