.App {
    background-color: #002b36;
    min-height: 100vh;
    color: white;
}

nav {
    display: flex;
    /* justify-content: space-around; */
}

nav > * {
    flex: 1;
    text-align: center;
    color: white;
    background-color: grey;
    padding: .5em;
    text-decoration: none;
    cursor: pointer;
}

nav > *:not(:last-child) {
    border-right: 1px solid dimgray;
}

nav > *.active {
    background-color: seagreen;
}

main {
    padding: 1em;
}
